<strong>Olá, {{ user }}!</strong>
<br />
<p><strong>Sua perguta foi respondia!</strong></p>
<p>Abaixo irá ter todas os detalhes:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
</p>
